
html{
    background-color: aquamarine;
    margin: 0;
    overflow: hidden;
    height: 100dvh;
    min-width: -webkit-fill-available;
    min-height: -webkit-fill-available;
}

body{
    width: auto;
    height: 100dvh;
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    min-width: -webkit-fill-available;
    min-height: -webkit-fill-available;
}

body, html {
    user-select: none;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;   
    touch-action: none;
}

.gameWindow{
    width: 100%;
    height: 100%;
    background-color: aquamarine; 
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.consoleFrame{
    width: 100%; /* Set the width as a percentage of the viewport width */
    height: 100%;
    background-image: url("./BACKGROUND/console_frame_2.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100vw;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row-reverse;
    
}

.game-canvas{
    padding-bottom: 1%;
    padding-left: 1.6%;
    image-rendering: pixelated;
    width: 57.5vw; /* Set the width as a percentage of the viewport width */
    height: auto; /* Keep the aspect ratio */
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-style: solid;
    border-width: 1px;
    border-color: red; */
    width: auto;
    height: 20vw;
    padding-left: 5.5%;
}
.dpad{
    width: 14vw;
    height: 14vw;
    background-image: url(./BACKGROUND/dpad_none.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 14vw;
    position: relative;
    display: flex;
    padding-left: 5%;
 
}

.buttons{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

}

.xAxis{
    display: flex;
    flex-direction: row;
    padding-right: 11%;
}

#dpad_up{
    border-style: solid;
    border-color: rgba(26, 189, 26, 0);
    border-width: 1px;
    background-color: rgba(240, 248, 255, 0);
    width: 6vw;
    height: 5vw;
}   
#dpad_down{
    border-style: solid;
    border-color: rgba(26, 189, 26, 0);
    border-width: 1px;
    background-color: rgba(240, 248, 255, 0);
    width: 6vw;
    height: 5vw;
}
#dpad_left{
    border-style: solid;
    border-color: rgba(26, 189, 26, 0);
    border-width: 1px;
    background-color: rgba(240, 248, 255, 0);
    width: 6vw;
    height: 5vw;
}
#dpad_right{
    border-style: solid;
    border-color: rgba(26, 189, 26, 0);
    border-width: 1px;
    background-color: rgba(240, 248, 255, 0);
    width: 6vw;
    height: 5vw;
}

/* Styles for portrait orientation */
@media only screen and (hover: none) and (pointer: coarse){
    .consoleFrame{
        background-size: 110vw;
    }
    .controls{
        padding-left: 1.8%;
        padding-bottom: 1%;
    }
    .game-canvas{

        padding-bottom: 1%;
        padding-left: 2.4%;
        width: 63.3vw; /* Set the width as a percentage of the viewport width */
    }
}



