
html{
    background-color: aquamarine;
    margin: 0;
    overflow: hidden;
}

body{
    width: auto;
    height: 100dvh;
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    padding-bottom: 10%;
}

body, html {
    user-select: none;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;   
    touch-action: none;
}

.gameWindow{
    width: 100%;
    height: 100%;
    background-color: aquamarine; 
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.consoleFrame{
    width: 100vw; /* Set the width as a percentage of the viewport width */
    height: 100%;
    background-image: url("./BACKGROUND/console_frame_2.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row-reverse;
    
}

.game-canvas{
    padding-bottom: 1%;
    padding-left: 1.6%;
    image-rendering: pixelated;
    width: 57.5vw; /* Set the width as a percentage of the viewport width */
    height: auto; /* Keep the aspect ratio */
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-style: solid;
    border-width: 1px;
    border-color: red; */
    width: auto;
    height: 20vw;
    touch-action: none;
    user-select: none;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    padding-left: 5.5%;
}
.dpad{
    width: 14vw;
    height: 14vw;
    background-image: url(./BACKGROUND/dpad_none.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 14vw;
    position: relative;
    display: flex;
    padding-left: 5%;

    touch-action: none;
    user-select: none;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; 
}

.buttons{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    touch-action: none;
    user-select: none;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; 
}

.xAxis{
    display: flex;
    flex-direction: row;
    padding-right: 11%;
}

#dpad_up{
    border-style: solid;
    border-color: rgba(26, 189, 26, 0);
    border-width: 1px;
    background-color: rgba(240, 248, 255, 0);
    width: 6vw;
    height: 5vw;
    touch-action: none;
    user-select: none;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
}   
#dpad_down{
    border-style: solid;
    border-color: rgba(26, 189, 26, 0);
    border-width: 1px;
    background-color: rgba(240, 248, 255, 0);
    width: 6vw;
    height: 5vw;
    touch-action: none;
    user-select: none;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
}
#dpad_left{
    border-style: solid;
    border-color: rgba(26, 189, 26, 0);
    border-width: 1px;
    background-color: rgba(240, 248, 255, 0);
    width: 6vw;
    height: 5vw;
    touch-action: none;
    user-select: none;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
}
#dpad_right{
    border-style: solid;
    border-color: rgba(26, 189, 26, 0);
    border-width: 1px;
    background-color: rgba(240, 248, 255, 0);
    width: 6vw;
    height: 5vw;
    touch-action: none;
    user-select: none;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
}

/* Styles for portrait orientation */
@media (orientation: portrait) {
    .game-canvas{
        image-rendering: pixelated;
        width: 97vw; /* Set the width as a percentage of the viewport width */
        height: auto; /* Keep the aspect ratio */
        padding-top: 12.5%;
    }
    .consoleFrame{
    background-size: calc(110vw);
    width: 100vw; /* Set the width as a percentage of the viewport width */
    }

    .gameWindow{
    padding-top: 20%;
    }

    .dpad{
    padding-top: 29%;
    padding-left: 46%;
    background-size: 30vw;
    }

    #dpad_up{
        width: 10vw;
        height: 10vw;
    }
    #dpad_down{
        width: 10vw;
        height: 10vw;
    }
    #dpad_left{
        width: 14vw;
        height: 10vw;
    }
    #dpad_right{
        width: 14vw;
        height: 10vw;
    }
}

