body {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to bottom right, rgb(119, 0, 255), rgb(191, 0, 255));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 2s;
    justify-content: start;
}

.personalInfo,
.personalKnowledge {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-shrink: 0;
    gap: 5%;
}

.textPanel_personalInfo,
.textPanel_personalKnowledge h2 {
    margin-left: 5%;
    margin-right: 5%;
}

.window {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-shrink: 0;
    margin-left: 10%;
    gap: 5%;
    width: 80%;
    height: 80%;
    border-radius: 40px;
    backdrop-filter: blur(8px);
    overflow: hidden;
    /* background: linear-gradient(to top left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7)); */
    background: linear-gradient(to top left, rgba(27, 27, 27, 0.6), rgba(70, 70, 70, 0.4));

}

.transf_left {
    transform: translate(-90%, 0px);
}

.transf_right {
    transform: translate(0px, 0px);
}

.textPanel,
.textPanel_personalInfo,
.textPanel_personalKnowledge {
    width: 60%;
    height: 90%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 0px 10px 3px #6d6d6d7d;
    /* background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)); */
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(70, 70, 70, 0.6));
}

.dashboard {
    display: flex;
    align-items: center;
    justify-content: top;
    gap: 60px;
    flex-direction: column;
    width: 30%;
    height: 100%;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 3px #6d6d6d7d;
    /* background: linear-gradient(to top left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6)); */
    background: linear-gradient(to top left, rgba(27, 27, 27, 0.8), rgba(70, 70, 70, 0.6));
}


.circle {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background: linear-gradient(to bottom right, rgba(232, 204, 255, 0.9), rgba(171, 171, 255, 0.7));
}

.infoPanel {
    width: 100%;
    height: 60%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.infoPanel .info {
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(to bottom right, rgba(232, 204, 255, 1), rgba(171, 171, 255, 1));
    border-radius: 30px;
}


.infoPanel .info:hover {
    background: linear-gradient(to top left, rgba(232, 204, 255, 1), rgba(171, 171, 255, 1));
}


.textPanel .info {
    width: 90%;
    height: 60px;
    background: linear-gradient(to bottom right, rgba(211, 204, 255, 0.9), rgba(171, 237, 255, 0.7));
    border-radius: 50px;
}


.shape1,
.shape2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(to top left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
    position: absolute;
}

.shape1 {
    animation: shapeOne 1s ease-in-out forwards, slide 120s ease-in-out infinite;
    animation-delay: 0.5s, 5s;
    top: -100%;
    left: 5%;
}

.shape2 {
    animation: shapeTwo 1s ease-in-out forwards, slide2 120s ease-in-out infinite;
    animation-delay: 0.5s, 3s;
    top: 100%;
    left: 75%;
}


@keyframes shapeOne {
    from {
        top: -100%;
    }

    to {
        top: 5%;
    }
}

@keyframes shapeTwo {
    from {
        top: 100%;
    }

    to {
        top: 55%;
    }
}

@keyframes slide {
    0% {
        top: 5%;
        left: 5%;
    }

    10% {
        top: 20%;
        left: 10%;
    }

    20% {
        top: 30%;
        left: 0%;
    }

    30% {
        top: 50%;
        left: 5%;
    }

    40% {
        top: 60%;
        left: 10%;
    }

    50% {
        top: 80%;
        left: 5%;
    }

    50% {
        top: 50%;
        left: 0%;
    }

    100% {
        top: 5%;
        left: 5%;
    }
}

@keyframes slide2 {
    0% {
        top: 55%;
        left: 75%;
    }

    100% {
        top: 10%;
        left: 80%;
    }
}